<div class="menutitle">Affiliates</div>
<div class="affiliates">
  <div class="menuitem"><a href="https://gamingreinvented.com/" target="_blank">
    <img src="template/images/gr.png" alt="Gaming Reinvented" width="88" height="31"></a></div>
  <div class="menuitem"><a href="https://sm64romhacks.com/" target="_blank">
    <img src="template/images/sm64hacks.png" alt="SM64 Hacks" width="88" height="31"></a></div>
  <div class="menuitem"><a href="https://www.smbxgame.com/" target="_blank">
    <img src="template/images/smbx.gif" alt="Super Mario Bros. X" width="88" height="31"></a></div>
  <div class="menuitem"><a href="https://www.smwcentral.net/" target="_blank">
    <img src="template/images/smwc.gif" alt="SMW Central" width="88" height="31"></a></div>
  <div class="menuitem"><a href="http://talkhaus.raocow.com/" target="_blank">
    <img src="template/images/talkhaus.png" alt="Raocow's Talkhaus" width="88" height="31"></a></div>
  <div class="menuitem"><a href="https://www.spriters-resource.com/" target="_blank">
    <img src="template/images/tsr.gif" alt="The Spriter's Resource" width="88" height="31"></a></div>
  <div class="menuitem"><a href="https://www.mariowiki.com/Main_Page" target="_blank">
    <img src="template/images/mariowiki.png" alt="Super Mario Wiki" width="88" height="31"></a></div>
  <div class="menuitem"><a href="https://sprites-inc.co.uk/" target="_blank">
    <img src="template/images/sprites_inc.gif" alt="Sprites Inc" width="88" height="31"></a></div>
  <div class="menuitem"><a href="https://warioforums.com/" target="_blank">
    <img src="template/images/wahforums2.png" alt="Wario Forums" width="88" height="31"></a></div>
  <!--<div class="menuitem"><a href="http://tsgk.captainn.net/" target="_blank">
    <img src="template/images/tsgk.png" alt="The ShyGuy Kingdom" width="88" height="31"></a></div>
  <div class="menuitem"><a href="http://www.metroidhq.com/" target="_blank"> <img src="template/images/mhqbutton.gif" alt="Metroid Headquarters" width="88" height="31"></a></div>
  <div class="menuitem"><a href="http://metroidr.brpxqzme.net/" target="_blank"> <img src="template/images/mfmbutton.gif" alt="Metroid Fan Mission" width="88" height="31"></a></div>-->
</div>