<table cellpadding="8" style="border-spacing:0px;width:100%;"><tr>

<!-- !!!!!!!!!!!!!BEGIN STAFF TABLE!!!!!!!!!!!!!!!!!! -->

		<!-- Gatete -->
		<table class="sform" style="width: 100%;">
			<tr>
				<!-- staff icon -->
				<td rowspan="3">
					<img src="https://www.mfgg.net/staff/icons/gatete.png" alt="Gatete's Avatar">
				</td>
				<td colspan="2" class="sformstrip staff">
					<span>
						<!-- country flag -->
						<img src="https://www.mfgg.net/staff/flags/es.gif" alt="Flag of Spain">
					</span>
					<!-- staff main site url and name -->
					<a href="https://www.mfgg.net/index.php?act=user&param=01&uid=6330"
						style="position:relative;top:-2px;">
						<b class="adminwrap">Gate</b>
					</a>
				</td>
			</tr>
			<tr>
				<!-- roles -->
				<td width="30%">
					<b>Primary Role:</b>
					Main Site Administrator
				</td>
				<td><b>Other Roles:</b>
					Forum Admin</td>
			</tr>
			<tr>
				<!-- contact -->
				<td colspan="2" style="width:100%;border-top: 1px; padding-top: 8px;">
					<!-- forum profile -->
					<span style="padding-left: 2px;">
						<a href="https://forums.mfgg.net/member.php?action=profile&uid=21"><img
								src="https://www.mfgg.net/staff/forumprofile.png" alt="Forum profile icon"></a>
					</span>
					<!-- youtube -->
					<span style="padding-left: 2px;">
						<a href="https://www.youtube.com/channel/UC63oI02SJyujfXrc0AJ1z9Q"><img
								src="https://www.mfgg.net/staff/youtube.png" alt="YouTube link icon"></a>
					</span>
				</td>
			</tr>
		</table>
		<br>

		<!-- ========================================== -->

		<!-- Mors -->
		<table class="sform" style="width: 100%;">
			<tr>
				<td rowspan="3">
					<img src="https://www.mfgg.net/staff/icons/mors2.png" alt="Mors's Avatar">
				</td>
				<td colspan="2" class="sformstrip staff">
					<span>
						<img src="https://www.mfgg.net/staff/flags/tr.gif" alt="Flag of Turkey">
					</span>
					<a href="https://www.mfgg.net/index.php?act=user&param=01&uid=9691"
						style="position:relative;top:-2px;">
						<b class="adminwrap">Mors</b>
					</a>
				</td>
			</tr>
			<tr>
				<td width="30%">
					<b>Primary Role:</b>
					Discord Administrator
				</td>
				<td><b>Other Roles:</b>
					Main Site Administrator, Forum Moderator, Site Developer
				</td>
			</tr>
			<tr>
				<td colspan="2" style="width:100%;border-top: 1px; padding-top: 8px;">
					<span style="padding-left: 2px;">
						<a href="https://forums.mfgg.net/member.php?action=profile&uid=24"><img
								src="https://www.mfgg.net/staff/forumprofile.png" alt="Forum profile icon"></a>
					</span>
					<span style="padding-left: 2px;">
						<a href="https://twitter.com/MorsGames"><img src="https://www.mfgg.net/staff/twitter.png" alt="Twitter icon"></a>
					</span>
				</td>
			</tr>
		</table>
		<br>

		<!-- ========================================== -->
		
		<!-- ReynLynxPSI -->
		<table class="sform" style="width: 100%;">
			<tr>
				<td rowspan="3">
					<img src="https://www.mfgg.net/staff/icons/reynlynxpsi.png" alt="ReynLynxPSI's Avatar">
				</td>
				<td colspan="2" class="sformstrip staff">
					<span>
						<img src="https://www.mfgg.net/staff/flags/us.gif" alt="Flag of United States">
					</span>
					<!-- staff main site url and name -->
					<a href="https://www.mfgg.net/index.php?act=user&param=01&uid=16161"
						style="position:relative;top:-2px;">
						<b class="adminwrap">ReynLynxPSI</b>
					</a>
				</td>
			</tr>
			<tr>
				<!-- roles -->
				<td width="30%">
					<b>Primary Role:</b>
					Main Site Moderator
				</td>
				<td><b>Other Roles:</b>
					Forum Moderator</td>
			</tr>
			<tr>
				<td colspan="2" style="width:100%;border-top: 1px; padding-top: 8px;">
					<span style="padding-left: 2px;">
						<a href="https://forums.mfgg.net/member.php?action=profile&uid=26"><img
								src="https://www.mfgg.net/staff/forumprofile.png" alt="Forum profile icon"></a>
					</span>
				</td>
			</tr>
		</table>
		<br>

		<!-- ========================================== -->

		<!-- Fun with Despair -->
		<table class="sform" style="width: 100%;">
			<tr>
				<td rowspan="3">
					<img src="https://www.mfgg.net/staff/icons/despair.png" alt="Fun With Despair's Avatar">
				</td>
				<td colspan="2" class="sformstrip staff">
					<span>
						<img src="https://www.mfgg.net/staff/flags/ca.gif" alt="Flag of Canada">
					</span>
					<a href="https://www.mfgg.net/index.php?act=user&param=01&uid=14786"
						style="position:relative;top:-2px;">
						<b class="adminwrap">Fun With Despair</b>
					</a>
				</td>
			</tr>
			<tr>
				<td width="30%">
					<b>Primary Role:</b>
					Discord Administrator
				</td>
				<td><b>Other Roles:</b>
					Main Site Moderator</td>
			</tr>
			<tr>
				<td width="100%" colspan="2" style="border-top: 1px; padding-top: 8px;">
					<span style="padding-left: 2px;">
						<a href="https://forums.mfgg.net/member.php?action=profile&uid=116"><img
								src="https://www.mfgg.net/staff/forumprofile.png" alt="Forum profile icon"></a>
					</span>
				</td>
			</tr>
		</table>
		<br>

		<!-- ========================================== -->

		<!-- Shikaternia -->
		<table class="sform" style="width: 100%;">
			<tr>
				<!-- staff icon -->
				<td rowspan="3">
					<img src="https://www.mfgg.net/staff/icons/shikaternia.png" alt="Shikaternia's Avatar">
				</td>
				<td colspan="2" class="sformstrip staff">
					<span>
						<!-- country flag -->
						<img src="https://www.mfgg.net/staff/flags/us.gif" alt="Flag of United States">
					</span>
					<!-- staff main site url and name -->
					<a href="https://www.mfgg.net/index.php?act=user&param=01&uid=10567"
						style="position:relative;top:-2px;">
						<b class="adminwrap">Shikaternia</b>
					</a>
				</td>
			</tr>
			<tr>
				<!-- roles -->
				<td width="30%">
					<b>Primary Role:</b>
					Main Site Moderator
				</td>
				<td><b>Other Roles:</b>
					None</td>
			</tr>
			<tr>
				<!-- contact -->
				<td width="100%" colspan="2" style="border-top: 1px; padding-top: 8px;">
					<!-- forum profile -->
					<span style="padding-left: 2px;">
						<a href="https://forums.mfgg.net/member.php?action=profile&uid=229"><img
								src="https://www.mfgg.net/staff/forumprofile.png" alt="Forum profile icon"></a>
					</span>
				</td>
			</tr>
		</table>
		<br>

		<!-- ========================================== -->

		<!-- Luigibonus -->
		<table class="sform" style="width: 100%;">
			<tr>
				<!-- staff icon -->
				<td rowspan="3">
					<img src="https://www.mfgg.net/staff/icons/luigibonus.png" alt="Luigibonus's Avatar">
				</td>
				<td colspan="2" class="sformstrip staff">
					<span>
						<!-- country flag -->
						<img src="https://www.mfgg.net/staff/flags/nl.gif" alt="Flag of Netherlands">
					</span>
					<!-- staff main site url and name -->
					<a href="https://www.mfgg.net/index.php?act=user&param=01&uid=17063"
						style="position:relative;top:-2px;">
						<b class="adminwrap">Luigibonus</b>
					</a>
				</td>
			</tr>
			<tr>
				<!-- roles -->
				<td width="30%">
					<b>Primary Role:</b>
					Main Site Moderator
				</td>
				<td><b>Other Roles:</b>
					None</td>
			</tr>
			<tr>
				<td width="100%" colspan="2" style="border-top: 1px; padding-top: 8px;">
					<span style="padding-left: 2px;">
						<a href="https://forums.mfgg.net/member.php?action=profile&uid=1426"><img
								src="https://www.mfgg.net/staff/forumprofile.png" alt="Forum profile icon"></a>
					</span>
				</td>
			</tr>
		</table>
		<br>

		<!-- ========================================== -->

		<!-- VinnyVideo -->
		<table class="sform" style="width: 100%;">
			<tr>
				<td rowspan="3">
					<img src="https://www.mfgg.net/staff/icons/vinnyvideo.png" alt="VinnyVideo's Avatar">
				</td>
				<td colspan="2" class="sformstrip staff">
					<span>
						<img src="https://www.mfgg.net/staff/flags/us.gif" alt="Flag of United States">
					</span>
					<a href="https://www.mfgg.net/index.php?act=user&param=01&uid=7546"
						style="position:relative;top:-2px;">
						<b class="adminwrap">VinnyVideo</b>
					</a>
				</td>
			</tr>
			<tr>
				<td width="30%">
					<b>Primary Role:</b>
					Site Developer
				</td>
				<td><b>Other Roles:</b>
					Main Site Moderator, Wiki SysOp</td>
			</tr>
			<tr>
				<td width="100%" colspan="2" style="border-top: 1px; padding-top: 8px;">
					<span style="padding-left: 2px;">
						<a href="https://forums.mfgg.net/member.php?action=profile&uid=1"><img
								src="https://www.mfgg.net/staff/forumprofile.png" alt="Forum profile icon"></a>
					</span>
					<span style="padding-left: 2px;">
						<a href="https://twitter.com/VinnyVideo"><img src="https://www.mfgg.net/staff/twitter.png" alt="Twitter icon"></a>
					</span>
				</td>
			</tr>
		</table>
		<br>

		<!-- ========================================== -->

		<!-- Evil Yoshi Toes -->
				<table class="sform" style="width: 100%;">
			<tr>
				<td rowspan="3">
					<img src="https://www.mfgg.net/staff/icons/evilyoshitoes.png" alt="Evil Yoshi Toes's Avatar">
				</td>
				<td colspan="2" class="sformstrip staff">
					<span>
						<img src="https://www.mfgg.net/staff/flags/us.gif" alt="Flag of United States">
					</span>
					<a href="https://www.mfgg.net/index.php?act=user&param=01&uid=11667"
						style="position:relative;top:-2px;">
						<b class="adminwrap">Evil Yoshi Toes</b>
					</a>
				</td>
			</tr>
			<tr>
				<!-- roles -->
				<td width="30%">
					<b>Primary Role:</b>
					Discord Moderator
				</td>
				<td><b>Other Roles:</b>
					None</td>
			</tr>
			<tr>
				<td width="100%" colspan="2" style="border-top: 1px; padding-top: 8px;">
					<span style="padding-left: 2px;">
						<a href="https://forums.mfgg.net/member.php?action=profile&uid=36"><img
								src="https://www.mfgg.net/staff/forumprofile.png" alt="Forum profile icon"></a>
					</span>
				</td>
			</tr>
		</table>
		<br>

		<!-- ========================================== -->
		<!-- HylianDev - placeholder in case he wants to come back-->
		<!-- ========================================== -->

		<!-- Techokami -->
		<table class="sform" style="width: 100%;">
			<tr>
				<td rowspan="3">
					<img src="https://www.mfgg.net/staff/icons/techokami.png" alt="Techokami's Avatar">
				</td>
				<td colspan="2" class="sformstrip staff">
					<span>
						<img src="https://www.mfgg.net/staff/flags/us.gif" alt="Flag of United States">
					</span>
					<a href="https://www.mfgg.net/index.php?act=user&param=01&uid=53"
						style="position:relative;top:-2px;">
						<b class="adminwrap">Techokami</b>
					</a>
				</td>
			</tr>
			<tr>
				<!-- roles -->
				<td width="30%">
					<b>Primary Role:</b>
					Security Ninja
				</td>
				<td><b>Other Roles:</b>
					None</td>
			</tr>
			<tr>
				<td width="100%" colspan="2" style="border-top: 1px; padding-top: 8px;">
					<span style="padding-left: 2px;">
						<a href="https://forums.mfgg.net/member.php?action=profile&uid=46"><img
								src="https://www.mfgg.net/staff/forumprofile.png" alt="Forum profile icon"></a>
					</span>
				</td>
			</tr>
		</table>
		<br>

		<!-- ========================================== -->

		<!-- Retriever II -->
		<table class="sform" style="width: 100%;">
			<tr>
				<td rowspan="3">
					<img src="https://www.mfgg.net/staff/icons/rii.png" alt="Retriever II's Avatar">
				</td>
				<td colspan="2" class="sformstrip staff">
					<span>
						<img src="https://www.mfgg.net/staff/flags/us.gif" alt="Flag of United States">
					</span>
					<a href="https://www.mfgg.net/index.php?act=user&param=01&uid=2"
						style="position:relative;top:-2px;">
						<b class="adminwrap">Retriever II</b>
					</a>
				</td>
			</tr>
			<tr>
				<td width="30%">
					<b>Primary Role:</b>
					Server Host
				</td>
				<td><b>Other Roles:</b>
					None
				</td>
			</tr>
			<tr>
				<td width="100%" colspan="2" style="border-top: 1px; padding-top: 8px;">
					<span style="padding-left: 2px;">
						<a href="https://forums.mfgg.net/member.php?action=profile&uid=13"><img
								src="https://www.mfgg.net/staff/forumprofile.png" alt="Forum profile icon"></a>
					</span>
				</td>
			</tr>
		</table>
		<br>

		<!-- ========================================== -->

		<!-- Thunder Dragon -->
		<table class="sform" style="width: 100%;">
			<tr>
				<!-- staff icon -->
				<td rowspan="3">
					<img src="https://www.mfgg.net/staff/icons/thunderdragon.png" alt="Thunder Dragon's Avatar">
				</td>
				<td colspan="2" class="sformstrip staff">
					<span>
						<img src="https://www.mfgg.net/staff/flags/us.gif" alt="Flag of United States">
					</span>
					<a href="https://www.mfgg.net/index.php?act=user&param=01&uid=6"
						style="position:relative;top:-2px;">
						<b class="adminwrap">Thunder Dragon</b>
					</a>
				</td>
			</tr>
			<tr>
				<!-- roles -->
				<td width="30%">
					<b>Primary Role:</b>
					Founder
				</td>
				<td><b>Other Roles:</b>
					We mortals cannot comprehend the power he possesses.</td>
			</tr>
			<tr>
				<!-- contact -->
				<td width="100%" colspan="2" style="border-top: 1px; padding-top: 8px;">
					<!-- forum profile -->
					<span style="padding-left: 2px;">
						<a href="https://forums.mfgg.net/member.php?action=profile&uid=5"><img
								src="https://www.mfgg.net/staff/forumprofile.png" alt="Forum profile icon"></a>
					</span>
				</td>
			</tr>
		</table>
		<br>

		<!-- ========================================== -->

<!-- !!!!!!!!!!!!!END STAFF TABLE!!!!!!!!!!!!!!!!!! -->

<br>
<table class="sformtablex sform" style="width: 100%; border-spacing:0px;" align="center" cellpadding="4">
<tr><td colspan="2" class="sformstrip">Special Thanks</td></tr>
<tbody>

<tr>
<td><b>Retriever II</b></td>
<td>Currently hosting MFGG, has made immense contributions to MFGG including the system running the site. Former webmaster.</td>
</tr><tr>
<td><b>Black Squirrel</b></td>
<td>Former Admin and great QC Admin. Handled 10,000 submissions.</td>
</tr><tr>
<td><b>Willy Goldwater</b></td>
<td>Generously paid part of MFGG's hosting bill in the past.</td>
</tr><tr>
<td><b>Techokami</b></td>
<td>In-depth testing, security help, and preparation for MFGG 2.0</td>
</tr><tr>
<td><b>DJ Yoshiman</b></td>
<td>Stuck around MFGG since time began.</td>
</tr><tr>
<td><b>Kritter</b></td>
<td>An original staffer of MFGG and creator of the old classic and the current new skins.</td>
</tr><tr>
<td><b>Mit</b></td>
<td>Drew a modern version of the iconic "Computer Mario" and made the emotes that are currently used on the forums.</td>
</tr><tr>
<td><b>Char</b></td>
<td>Former webmaster who contributed greatly to our site</td>
</tr><tr>
<td><b>Guinea</b></td>
<td>Former admin who served as staff member for nearly a decade and led MFGG's first Community Fangame Project.</td>
</tr><tr>
<td><b>Medaforcer</b></td>
<td>Used to volunteer administering badges to forum members.</td>
</tr><tr>
<td><b>Hylke Bons</b></td>
<td>Made the MSN and AIM icons used on this page. (The other icons are from the Tango set)</td>
</tr><tr>
<td><b>Vitiman</b></td>
<td>A charismatic member who helped out porting and making themes.</td>
</tr><tr><td colspan="2" class="sformstrip">Staff icons made by <i>Alexandra, Ashura, Bacteriophage, Dexy, Fujiko, Gato, Hypernova, and Stixdude</i>.</td></tr>
</tbody></table>