#screenshot {
	max-width: 480px;
    max-height: 270px;
    padding: 8px;
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}

.affiliates {
	text-align: center;
}

.avatar {
    width: 80px;
    height: 80px;
    vertical-align: top;
}

.sidebarbg {
	width: 100%;
}

.sformstrip {
	padding: 2px;	
}

.sformsubstrip {
	padding: 2px;	
}

td {
	vertical-align: top;	
}

.bottom {
	vertical-align: bottom;	
}